## Python class to scrape property listings from the <a href="http://www.rightmove.co.uk">rightmove</a> website

In [1]:
from rightmove_webscraper import rightmove_data

### Example scraping properties for sale

URL returned from searching with the following criteria:

* Property for SALE
* Area = "Battersea Power Station"
* Radius = within 3 miles
* Price range, bedrooms = no min or max
* Property type = Any
* Added to site within =  last 7 days

In [2]:
sale_url = "http://www.rightmove.co.uk/property-for-sale/find.html?searchType=SALE\
&locationIdentifier=REGION%5E94346&insId=1\
&radius=3.0\
&minPrice=&maxPrice=\
&minBedrooms=&maxBedrooms=\
&displayPropertyType=\
&maxDaysSinceAdded=7\
&_includeSSTC=on\
&sortByPriceDescending=\
&primaryDisplayPropertyType=\
&secondaryDisplayPropertyType=\
&oldDisplayPropertyType=\
&oldPrimaryDisplayPropertyType=\
&newHome=\
&auction=false"

In [3]:
# Create the instance of the class on the search URL.
sale_object = rightmove_data(sale_url)

# The .rent_or_sale attribute tells you what type of properties the search URL is for.
sale_object.rent_or_sale

'SALE'

In [4]:
# The .results_count attribute returns the number of search results returned by the URL.
sale_object.results_count

216

In [5]:
# The .result_pages_count attribute returns the number of search pages returned by the URL.
# Note that the rightmove website limits the number of results pages to a maximum of 42
sale_object.result_pages_count

9

In [6]:
# The .get_results() method returns all listings in a pandas dataframe.
sale_results = sale_object.get_results()
sale_results.head()

,address,agent_url,price,type,url,postcode,number_bedrooms,search_date
0,"Strata, 8 Walworth Road, Elephant & Castle, Lo...",http://www.rightmove.co.uk/estate-agents/agent...,595000,1 bedroom flat for sale,http://www.rightmove.co.uk/property-for-sale/p...,SE1,1,2018-01-02 21:12:40.323637
1,"One Hyde Park, Knightsbridge",http://www.rightmove.co.uk/estate-agents/agent...,25000000,3 bedroom apartment for sale,http://www.rightmove.co.uk/property-for-sale/p...,NaN,3,2018-01-02 21:12:40.323637
2,"Cambridge Gate, London",http://www.rightmove.co.uk/estate-agents/agent...,7999950,5 bedroom flat for sale,http://www.rightmove.co.uk/property-for-sale/p...,NaN,5,2018-01-02 21:12:40.323637
3,"Eardley Crescent, Earls Court, London",http://www.rightmove.co.uk/estate-agents/agent...,4750000,17 bedroom property for sale,http://www.rightmove.co.uk/property-for-sale/p...,NaN,17,2018-01-02 21:12:40.323637
4,"Portland Place, Marylebone, W1B",http://www.rightmove.co.uk/estate-agents/agent...,3800000,3 bedroom flat for sale,http://www.rightmove.co.uk/property-for-sale/p...,W1B,3,2018-01-02 21:12:40.323637

### Example scraping properties for rent

URL returned from a same criteria as above, except Property for RENT instead of for sale:

In [7]:
rent_url = 'http://www.rightmove.co.uk/property-to-rent/find.html?searchType=RENT\
&locationIdentifier=REGION%5E94346&insId=3\
&radius=3.0\
&minPrice=&maxPrice=\
&minBedrooms=&maxBedrooms=\
&displayPropertyType=\
&maxDaysSinceAdded=7\
&sortByPriceDescending=\
&_includeLetAgreed=on\
&primaryDisplayPropertyType=\
&secondaryDisplayPropertyType=\
&oldDisplayPropertyType=\
&oldPrimaryDisplayPropertyType=\
&letType=\
&letFurnishType=\
&houseFlatShare=false'

In [8]:
# Create the instance of the class on the search URL.
rent_object = rightmove_data(rent_url)

# The .rent_or_sale attribute tells you what type of properties the search URL is for.
rent_object.rent_or_sale

'RENT'

In [9]:
# The .results_count attribute returns the number of search results returned by the URL.
rent_object.results_count

837

In [10]:
# The .result_pages_count attribute returns the number of search pages returned by the URL.
# Note that the rightmove website limits the number of results pages to a maximum of 42
rent_object.result_pages_count

35

In [11]:
# The .get_results() method returns all listings in a pandas dataframe.
rent_results = rent_object.get_results()
rent_results.head()

,address,agent_url,price,type,url,postcode,number_bedrooms,search_date
0,"Eagle Heights, SW11",http://www.rightmove.co.uk/estate-agents/agent...,1450,1 bedroom flat,http://www.rightmove.co.uk/property-to-rent/pr...,SW11,1,2018-01-02 21:14:13.945694
1,"Queens Gardens, Bayswater, W2",http://www.rightmove.co.uk/estate-agents/agent...,2384,1 bedroom flat,http://www.rightmove.co.uk/property-to-rent/pr...,W2,1,2018-01-02 21:14:13.945694
2,"Queens Gardens, Bayswater, W2",http://www.rightmove.co.uk/estate-agents/agent...,2579,2 bedroom flat,http://www.rightmove.co.uk/property-to-rent/pr...,W2,2,2018-01-02 21:14:13.945694
3,"Nightingale Lane, Between the Commons, SW12",http://www.rightmove.co.uk/estate-agents/agent...,2709,3 bedroom flat,http://www.rightmove.co.uk/property-to-rent/pr...,SW12,3,2018-01-02 21:14:13.945694
4,"Nightingale Lane, Between the Commons, SW12",http://www.rightmove.co.uk/estate-agents/agent...,3879,3 bedroom flat,http://www.rightmove.co.uk/property-to-rent/pr...,SW12,3,2018-01-02 21:14:13.945694