## Python class to scrape property listings from the <a href="http://www.rightmove.co.uk">rightmove</a> website

In [1]:
from rightmove_webscraper import rightmove_data

#### Example scraping properties for sale

URL returned from searching with the following criteria:

* Property for SALE
* Area = "Battersea Power Station"
* Radius = within 3 miles
* Price range, bedrooms = no min or max
* Property type = Any
* Added to site within =  last 7 days

In [2]:
sale_url = "http://www.rightmove.co.uk/property-for-sale/find.html?searchType=SALE\
&locationIdentifier=REGION%5E94346&insId=1\
&radius=3.0\
&minPrice=&maxPrice=\
&minBedrooms=&maxBedrooms=\
&displayPropertyType=\
&maxDaysSinceAdded=7\
&_includeSSTC=on\
&sortByPriceDescending=\
&primaryDisplayPropertyType=\
&secondaryDisplayPropertyType=\
&oldDisplayPropertyType=\
&oldPrimaryDisplayPropertyType=\
&newHome=\
&auction=false"

In [3]:
# Create the instance of the class on the search URL.
sale_object = rightmove_data(sale_url)

# The .rent_or_sale attribute tells you what type of properties the search URL is for.
# print('RENT or SALE:')
sale_object.rent_or_sale

'SALE'

In [4]:
# The .results_count() method returns the number of search results returned by the URL.
sale_object.results_count()

1074

In [5]:
# The .result_pages_count() method returns the number of search pages returned by the URL.
# Note that the rightmove website limits the number of results pages to a maximum of 42
sale_object.result_pages_count()

42

In [6]:
# The .get_results() method returns all listings in a pandas dataframe.
sale_results = sale_object.get_results()
sale_results.head()

,address,price,type,url,postcode,number_bedrooms,search_date
0,"Ormond House, Medway Street, Westminster, Lond...",595000,1 bedroom flat for sale,http://www.rightmove.co.uk/property-for-sale/p...,SW1P,1,18/08/2017
1,"Harley Gardens, London, SW10",18000000,6 bedroom terraced house for sale,http://www.rightmove.co.uk/property-for-sale/p...,SW10,6,18/08/2017
2,"Bondway, SW8",10050000,3 bedroom apartment for sale,http://www.rightmove.co.uk/property-for-sale/p...,SW8,3,18/08/2017
3,"Bondway, Nine Elms, SW8",10000000,3 bedroom penthouse for sale,http://www.rightmove.co.uk/property-for-sale/p...,SW8,3,18/08/2017
4,"Bondway, SW8",10000000,3 bedroom apartment for sale,http://www.rightmove.co.uk/property-for-sale/p...,SW8,3,18/08/2017

#### Example scraping properties for rent

URL returned from a same criteria as above, except Property for RENT instead of for sale:

In [7]:
rent_url = 'http://www.rightmove.co.uk/property-to-rent/find.html?searchType=RENT\
&locationIdentifier=REGION%5E94346&insId=3\
&radius=3.0\
&minPrice=&maxPrice=\
&minBedrooms=&maxBedrooms=\
&displayPropertyType=\
&maxDaysSinceAdded=7\
&sortByPriceDescending=\
&_includeLetAgreed=on\
&primaryDisplayPropertyType=\
&secondaryDisplayPropertyType=\
&oldDisplayPropertyType=\
&oldPrimaryDisplayPropertyType=\
&letType=\
&letFurnishType=\
&houseFlatShare=false'

In [8]:
# Create the instance of the class on the search URL.
rent_object = rightmove_data(rent_url)

# The .rent_or_sale attribute tells you what type of properties the search URL is for.
# print('RENT or SALE:')
rent_object.rent_or_sale

'RENT'

In [9]:
# The .results_count() method returns the number of search results returned by the URL.
rent_object.results_count()

3989

In [10]:
# The .result_pages_count() method returns the number of search pages returned by the URL.
# Note that the rightmove website limits the number of results pages to a maximum of 42
rent_object.result_pages_count()

42

In [11]:
# The .get_results() method returns all listings in a pandas dataframe.
rent_results = rent_object.get_results()
rent_results.head()

,address,price,type,url,postcode,number_bedrooms,search_date
0,"Pembridge Gardens, London, W2",5200,2 bedroom flat,http://www.rightmove.co.uk/property-to-rent/pr...,W2,2,18/08/2017
1,"Monument Street, Monument",2275,2 bedroom apartment,http://www.rightmove.co.uk/property-to-rent/pr...,NaN,2,18/08/2017
2,"East Street, Elephant & Castle, SE17",1248,1 bedroom flat,http://www.rightmove.co.uk/property-to-rent/pr...,SE17,1,18/08/2017
3,"Fenwick Place, London",2400,3 bedroom apartment,http://www.rightmove.co.uk/property-to-rent/pr...,NaN,3,18/08/2017
4,"Queen's Gate, SW7",2817,2 bedroom flat,http://www.rightmove.co.uk/property-to-rent/pr...,SW7,2,18/08/2017