## Python class to scrape property listings from the <a href="http://www.rightmove.co.uk">rightmove</a> website

#### Properties for SALE example

URL returned from searching with the following criteria:

* Property for SALE
* Area = "Battersea Power Station"
* Radius = within 3 miles
* Price range, bedrooms = no min or max
* Property type = Any
* Added to site within =  last 7 days

In [2]:
sale_url = 'http://www.rightmove.co.uk/property-for-sale/find.html?searchType=SALE\
&locationIdentifier=REGION%5E94346&insId=1\
&radius=3.0\
&minPrice=&maxPrice=\
&minBedrooms=&maxBedrooms=\
&displayPropertyType=\
&maxDaysSinceAdded=7\
&_includeSSTC=on\
&sortByPriceDescending=\
&primaryDisplayPropertyType=\
&secondaryDisplayPropertyType=\
&oldDisplayPropertyType=\
&oldPrimaryDisplayPropertyType=\
&newHome=\
&auction=false'

In [3]:
# Create the instance of the class on the search URL.
sale_object = rightmove_data(sale_url)

# The .rent_or_sale() method tells you what type of properties the search URL is for.
# print('RENT or SALE:')
sale_object.rent_or_sale()

'SALE'

In [4]:
# The .results_count() method returns the number of search results returned by the URL.
sale_object.results_count()

1281

In [5]:
# The .result_pages_count() method returns the number of search pages returned by the URL.
# Note that the rightmove website limits the number of results pages to a maximum of 42
sale_object.result_pages_count()

42

In [6]:
# The .get_results() method returns all listings in the format of a pandas dataframe.
sale_results = sale_object.get_results()
sale_results.head()

,address,price,type,url,postcode,number_bedrooms,search_date
0,"Earls Court Square, Earls Court, SW5",499950.0,\n Studio flat for sale,http://www.rightmove.co.uk/property-for-sale/p...,SW5,0,17/07/2017
1,"Wilton Mews, Belgravia, London, SW1X",28000000.0,\n 6 bedroom end of terrace house f...,http://www.rightmove.co.uk/property-for-sale/p...,SW1X,6,17/07/2017
2,"Rutland Gate, Knightsbridge, London, SW7",12950000.0,\n 6 bedroom house for sale,http://www.rightmove.co.uk/property-for-sale/p...,SW7,6,17/07/2017
3,"Rutland Gate, London",12950000.0,\n 6 bedroom house for sale,http://www.rightmove.co.uk/property-for-sale/p...,NaN,6,17/07/2017
4,"Cadogan Gardens, Chelsea, London, SW3",12500000.0,\n 6 bedroom terraced house for sal...,http://www.rightmove.co.uk/property-for-sale/p...,SW3,6,17/07/2017

#### Properties for RENT example

URL returned from a same criteria as above, except Property for RENT instead of for sale:

In [7]:
rent_url = 'http://www.rightmove.co.uk/property-to-rent/find.html?searchType=RENT\
&locationIdentifier=REGION%5E94346&insId=3\
&radius=3.0\
&minPrice=&maxPrice=\
&minBedrooms=&maxBedrooms=\
&displayPropertyType=\
&maxDaysSinceAdded=7\
&sortByPriceDescending=\
&_includeLetAgreed=on\
&primaryDisplayPropertyType=\
&secondaryDisplayPropertyType=\
&oldDisplayPropertyType=\
&oldPrimaryDisplayPropertyType=\
&letType=\
&letFurnishType=\
&houseFlatShare=false'

In [8]:
# Create the instance of the class on the search URL.
rent_object = rightmove_data(rent_url)

# The .rent_or_sale() method tells you what type of properties the search URL is for.
# print('RENT or SALE:')
rent_object.rent_or_sale()

'RENT'

In [9]:
# The .results_count() method returns the number of search results returned by the URL.
rent_object.results_count()

4221

In [10]:
# The .result_pages_count() method returns the number of search pages returned by the URL.
# Note that the rightmove website limits the number of results pages to a maximum of 42
rent_object.result_pages_count()

42

In [11]:
# The .get_results() method returns all listings in the format of a pandas dataframe.
rent_results = rent_object.get_results()
rent_results.head()

,address,price,type,url,postcode,number_bedrooms,search_date
0,"Eastfields Avenue, SW18",3103,\n 3 bedroom flat,http://www.rightmove.co.uk/property-to-rent/pr...,SW18,3,17/07/2017
1,"Cromwell Road, Kensington, London, SW5",1300,\n Studio apartment,http://www.rightmove.co.uk/property-to-rent/pr...,SW5,0,17/07/2017
2,"East Dulwich Grove, East Dulwich, SE22",1250,\n 1 bedroom apartment,http://www.rightmove.co.uk/property-to-rent/pr...,SE22,1,17/07/2017
3,"Belgrave Road, Pimlico, SW1V",1127,\n Studio flat,http://www.rightmove.co.uk/property-to-rent/pr...,SW1V,0,17/07/2017
4,"Capital Building, Embassy Gardens, SW8",3033,\n 2 bedroom apartment,http://www.rightmove.co.uk/property-to-rent/pr...,SW8,2,17/07/2017